<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Yuk Kita Kenalan! </title>
</head>
<body bgcolor='beige' text='sky blue'>
	<center>
	<font face=Garamond size=6>
	<H2><I>Halooo!</I></B></H2>
	<article><I>Selamat datang!!</I></article>
	<table style="width: 1000px;">
	<tr>
	<td rowspan="9" width="300px">
	<img src = "https://lh4.googleusercontent.com/-Z1N7yeHx3Jm--QU48rvht_wmSV_xi-qPQMkHnZ3qM0UdK76c9Q8Q3y5vnHu8fd5_5Ts1iGDt_pTHwLwZU3N=w1366-h657-rw" width = "232px" height = "307" align = "left">
	</td>
	</tr>
	<tr>
	<td><B><I>Biodataku</I></B></td>
	</tr>
	<td>Nama</td>
	<td>: {{ name }}</td>
	</tr>
	<tr>
	<td>NPM</td>
	<td>: {{ npm }}</td>
	</tr>
	<tr>
	<td>Institusi</td>
	<td>: {{ Institusi }}</td>
	</tr>
	<tr>
	<td>Umur</td>
	<td>: {{ age }} tahun</td>
	</tr>
	<tr>
	<td>Hobi</td>
	<td>: {{ Hobi }}</td>
	</tr>
	<tr>
	<td>Deskripsi Diri</td>
	<td>: {{ Deskripsi }}</td>
	</tr>
	<tr>
	<td><B><I>Salam Kenal!</I></B></td>
	</tr>
	<table style="width: 1000px;">
	<tr>
	<td rowspan="9" width="300px">
	<img src = "https://instagram.fcgk4-2.fna.fbcdn.net/vp/a54b4c03d95098b6f98f9d3ba6190f72/5C38A763/t51.2885-15/sh0.08/e35/s750x750/31278503_375035476326733_4805993066202660864_n.jpg" width = "232px" height = "307" align = "left">
	</td>
	</tr>
	<tr>
	<td><B><I>Pertama</I></B></td>
	</tr>
	<td>Nama</td>
	<td>: Stevany Supardi</td>
	</tr>
	<tr>
	<td>NPM</td>
	<td>: 1706043916</td>
	</tr>
	<tr>
	<td>Institusi</td>
	<td>: Universitas Indonesia</td>
	</tr>
	<tr>
	<td>Umur</td>
	<td>: 19 tahun</td>
	</tr>
	<tr>
	<td>Hobi</td>
	<td>: Nonton Drama</td>
	</tr>
	<tr>
	<td>Deskripsi Diri</td>
	<td>: Terlihat Pendiam </td>
	</tr>
	<tr>
	<td><B><I></I></B></td>
	</tr>
	
	<table style="width: 1000px;">
	<tr>
	<td rowspan="9" width="300px">
	<img src = "https://instagram.fcgk4-2.fna.fbcdn.net/vp/00141b88480912db7097bfec8e365ea3/5C3595D7/t51.2885-15/sh0.08/e35/s750x750/26866440_347430655737479_2076965198442266624_n.jpg" width = "232px" height = "307" align = "left">
	</td>
	</tr>
	<tr>
	<td><B><I>Kedua</I></B></td>
	</tr>
	<td>Nama</td>
	<td>: Falahdina Aprilia</td>
	</tr>
	<tr>
	<td>NPM</td>
	<td>: 1706043922</td>
	</tr>
	<tr>
	<td>Institusi</td>
	<td>: Universitas Indonesia</td>
	</tr>
	<tr>
	<td>Umur</td>
	<td>: 19 tahun</td>
	</tr>
	<tr>
	<td>Hobi</td>
	<td>: Fotografi</td>
	</tr>
	<tr>
	<td>Deskripsi Diri</td>
	<td>: Sangat menyukai fotografi</td>
	</tr>
	<tr>
	<td><B><I></I></B></td>
	</tr>
</body>
</html>
